@model Food_Enforcement.Models.EF_Models.RootObject

<h1>Food Enforcement</h1>
<hr />

@foreach (var item in Model.results)
{
    <div>
        <h3>
            @Html.DisplayFor(modelItem => item.recalling_firm)
        </h3>
        <I>
            <div>
                <h5>
                    Reason for recall:
                    @Html.DisplayFor(modelItem => item.reason_for_recall)
                </h5>
            </div>
            <div>
                <h5>

                    Product description:

                    @Html.DisplayFor(modelItem => item.product_description)
                </h5>
            </div>


            <div>
                <h5>

                    Product Quantity:

                    @Html.DisplayFor(modelItem => item.product_quantity)
                </h5>
            </div>
        </I>
    </div>

}

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>